<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex justify-content-between">
    <div class="navbar-brand d-flex align-items-center">
      <img src="./assets/logo/angular_gradient.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
      <span>Angular App</span>
    </div>
    <div class="d-flex me-5" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ms-2">
          <a ngClass="nav-link" [routerLink]="'/'" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item ms-2">
          <a ngClass="nav-link" [routerLink]="'/simple-crud'" routerLinkActive="active">Simple CRUD</a>
        </li>
        <!-- <li class="nav-item ms-2">
          <a class="nav-link" [routerLink]="'/api-crud'" routerLinkActive="active">API CRUD
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
