<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Simple crud, user form</h5>
      <form [formGroup]="userForm" class="row g-3 need-validation" novalidate (ngSubmit)="onSubmit()" >
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <label for="firstname" class="form-label">First name</label>
          <input 
            type="text" 
            id="firstname" 
            name="firstname" 
            formControlName="firstname" 
            [ngClass]="['form-control', userForm.get('firstname')?.invalid && (userForm.get('firstname')?.touched || userForm.get('firstname')?.dirty) ? 'is-invalid' : '']">
          <div class="invalid-feedback">This field is required</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <label for="lastname" class="form-label">Last name</label>
          <input 
            type="text" 
            id="lastname" 
            name="lastname" 
            formControlName="lastname" 
            [ngClass]="['form-control', userForm.get('lastname')?.invalid && (userForm.get('lastname')?.touched || userForm.get('lastname')?.dirty) ? 'is-invalid' : '']">
          <div class="invalid-feedback">This field is required</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <label for="birthday" class="form-label">Birthday</label>
          <input 
            type="date" 
            id="birthday" 
            name="birthday" 
            formControlName="birthday" 
            [ngClass]="['form-control', userForm.get('birthday')?.invalid && (userForm.get('birthday')?.touched || userForm.get('birthday')?.dirty) ? 'is-invalid' : '']">
          <div class="invalid-feedback">This field is required</div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4">
          <label for="email" class="form-label">Email</label>
          <input 
            type="email" 
            id="email" 
            name="email" 
            formControlName="email" 
            [ngClass]="['form-control', userForm.get('email')?.invalid && (userForm.get('email')?.touched || userForm.get('email')?.dirty) ? 'is-invalid' : '']">
          <div class="invalid-feedback">This field is required</div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <label for="description" class="form-label">Description</label>
          <textarea 
            id="description" 
            name="description" 
            formControlName="description" 
            rows="3" 
            [ngClass]="['form-control', userForm.get('description')?.invalid && (userForm.get('description')?.touched || userForm.get('description')?.dirty) ? 'is-invalid' : '']">
          </textarea>
          <div class="invalid-feedback">This field is required</div>
        </div>
        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit form</button>
        </div>

        <div class="col-12">
          <div [ngClass]="'alert alert-' + alert.type + ' alert-dismissible d-flex align-items-center'" *ngIf="alert.show" role="alert">
            <i [ngClass]="alert.icon + ' me-2 fa-2x'"></i>
            {{ alert.message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="alert.show=!alert.show"></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
